button{
    background-color: beige;
    font-size: 48px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 13px;
    height: 74px;
    width: 74px;
    margin: 5px;
    border-style: inset;
}

button:hover{
    background-color: rgb(74, 74, 66);
    color: white;
}